/* AppPage.module.css */
.copyButton {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copyButton:active {
  background-color: rgba(22, 155, 238, 0.8);
}
